h1, form {
  text-align: center;
}

form {
  margin-top: 200px;
}

.centeringList {
  text-align: center;
}

ul {
  width: 400px;
  list-style-type: none;
}

li > input {
  position: relative
  left: 40px;
}

li > button {
  right: 30px;
}
