h1 {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

form {
  text-align: center;
  margin-top: 100px;
}

.centeringList {
  text-align: center;
}

#toDoList {
  list-style-type: none;
}

/* this should be for the text within the li
li > "" {
  left: 0px;
} */

li > input {
  left: -20px;
}

li > button {
  right: 0px;
}
